{{>header}}
<h1> Gestion de catégories d'items </h1>
{{#msg}}
    {{>include/message}}
{{/msg}}
<br/>
<a class="ui blue button" href="/newCategorie"> Ajouter une catégorie </a>
<br/> <br/>
{{#categories}}
<table class="ui celled striped table">
    <thead>
    <tr><th colspan="5">
        {{libelle}}
    </th>
    </tr></thead>
    <tbody>
    <tr>
        <td class = "center aligned" > Nom </td>
        <td class = "center aligned" > Evaluation</td>
        <td class = "center aligned" > Incrémenter </td>
        <td class = "center aligned" >  Décrémenter  </td>
        <td class = "center aligned" > Supprimer  </td>
    </tr>
    {{#items}}
    <tr>
        <td class = "center aligned" > {{nom}} </td>
        <td class = "center aligned" > {{evaluation}}</td>
        <td class = "center aligned" > <a class="ui green button" href="/inc/{{libelle}}/{{nom}}"> Incrémenter </a></td>
        <td class = "center aligned" > <a class="ui blue button" href="/dec/{{libelle}}/{{nom}}"> Décrémenter </a> </td>
        <td class = "center aligned" > <a class="ui red button" href="/delete/{{libelle}}/{{nom}}"> Supprimer </a> </td>
    </tr>
    {{/items}}
    </tbody>
</table>
<a class="ui green button" href="/new/{{libelle}}"> Ajouter un item pour la catégorie {{libelle}}</a>
<br/> <br/>
{{/categories}}
{{>footer}}