{{>header}}
<h1> Gestion de catégories d'items </h1>
{{#msg}}
    {{>include/message}}
{{/msg}}

{{#categories}}
<div class="ui top attached tabular menu">
    <div class="item">{{libelle}}</div>
</div>
<div class="ui bottom attached active tab segment">
    {{#items}}
    <p> {{nom}} {{evaluation}}  <a class="ui green button" href="/inc/{{nom}}"> Incrémenter </a> <a class="ui blue button" href="/dec/{{nom}}"> Décrémenter </a>
        <a class="ui red button" href="/delete/{{nom}}"> Supprimer </a> </p>
    {{/items}}
</div>
<a class="ui green button" href="/new"> Ajouter un item pour la catégorie {{libelle}}</a>
{{/categories}}
{{>footer}}