{{>header}}
<h1> Gestion d'items </h1>
{{#msg}}
    {{>include/message}}
{{/msg}}
<table>
    <thead>
        <tr>
            <th> Nom </th>
            <th> Evaluation </th>
        </tr>
    </thead>
    <tbody>
        {{#items}}
        <tr>
            <td> {{nom}} </td>
            <td> {{evaluation}} </td>
            <td> <a class="ui green button" href="/inc/{{nom}}"> Incrémenter </a> </td>
            <td> <a class="ui blue button" href="/dec/{{nom}}"> Décrémenter </a> </td>
            <td> <a class="ui red button" href="/delete/{{nom}}"> Supprimer </a> </td>
        </tr>
        {{/items}}
    </tbody>
</table>
<a class="ui green button" href="/new"> Ajouter un item </a>
<div class="ui top attached tabular menu">
    <div class="item">Tab</div>
</div>
<div class="ui bottom attached tab segment">
    <p>aaa</p>
    <p>aa</p>
</div>
{{>footer}}